# PGT Trucking Capstone Project

Project student team: Peter Pan; Vincent Pan; Sanjit Sokhi, Jerry Wang, Jiadi Zhang

Advisor: Amr Farahat

Creation date: 2023-03-27

Choose the number of drivers and number of orders you want

In [225]:
num_driver =  20
num_order = 100
random_state_param = 886
time_limit = 1200
#mip_gap = 0.05

 ## Importing packages

In [226]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import datetime, timedelta
import numpy as np
from geopy.geocoders import Nominatim 
from geopy import distance 
from multidict import MultiDict
import math
import gurobipy as gp
from gurobipy import GRB

 ## Setting functions

Distance functions to calculate the distance between two areas

In [227]:
def my_distance(origin_zip,dest_zip):
    geolocator = Nominatim(user_agent = "my_app_name")
    origin_loc = geolocator.geocode(origin_zip,country_codes ='us')
    dest_loc = geolocator.geocode(dest_zip,country_codes ='us')
    origin_latlon = (origin_loc.latitude,origin_loc.longitude)
    dest_latlon = (dest_loc.latitude,dest_loc.longitude)
    return (distance.distance(origin_latlon,dest_latlon).miles)

In [228]:
def haversine_distance(lon1, lat1, lon2, lat2):
    try:
        R = 6371  # radius of the Earth in kilometers
        dlon = math.radians(lon2 - lon1)
        dlat = math.radians(lat2 - lat1)
        a = math.sin(dlat / 2) ** 2 + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlon / 2) ** 2
        c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
        return R * c /1.609
    except:
        return None

Time function to calcualte the time consumption for a trucker to travel certain dsitance

In [229]:
def my_time(dis):
    speed = 7.6 * math.log(dis) + 4.5
    time_consumption = dis/speed
    return time_consumption

Function to standardize zip codes

In [230]:
def zip_correcter(zipcodes):
    zipdf = zipcodes.copy()
    corrected_zips = []
    for azip in zipdf:
        zip_length = len(str(azip))
        if zip_length < 5:
            corrected_zips.append((5-zip_length)*'0' + str(azip))
        elif zip_length > 5:
            corrected_zips.append(str(azip)[:5])
        else:
            corrected_zips.append(azip)
    return corrected_zips

 ## importing and processing data

Data import section

In [231]:
df = pd.read_csv("C:/Users/jiadiz/Desktop/PGT Trucking/initial model/Github/simulated_order_sample.csv",dtype={'dest_zipcode':str,'origin_zipcode':str})
df['dest_zipcode'] = zip_correcter(df['dest_zipcode'])
df['origin_zipcode'] = zip_correcter(df['origin_zipcode'])

In [232]:
df2 = df.dropna().sample(num_order, random_state = random_state_param)

In [233]:
df2['origin_zipcode'] = df2['origin_zipcode'].astype(str)
df2['dest_zipcode'] = df2['dest_zipcode'].astype(str)

In [234]:
samp_data.columns

Index(['ManifestNo', 'driverCode', 'ManifestLeg', 'OrderNo', 'NumberOfLegs',
       'PickupWindowStart', 'PickupWindowEnd', 'PickupArrive', 'PickupDepart',
       'DeliverWindowStart', 'DeliverWindowEnd', 'DeliverArrive',
       'DeliverDepart', 'CustomerNumber', 'ShipperCity', 'ShipperState',
       'ShipperZipCode', 'OriginCity', 'OriginState', 'ConsigneeCity',
       'ConsigneeState', 'ConsigneeCountry', 'ConsigneeZipCode',
       'DestinationCity', 'DestinationState', 'DispatchMiles', 'CarrierType',
       'LineHaulRevenue', 'CommodityCode', 'CommodityDesc', 'OrderWeight',
       'ManifestStatus', 'OrderCreateDate', 'WHTRACTOR', 'WHTRAILR1',
       'Window_length1', 'Window_length2', 'PickUpLength', 'DeliverTime',
       'DeliverStayTime'],
      dtype='object')

Creating pickup_midpoint

In [235]:
#Adding the columns pick_up_midpoint
from datetime import datetime
df2['pickup_start_date_time'] = df2.apply(lambda row: datetime.strptime(row['pickup_window_start'], '%m/%d/%Y %H:%M'),axis = 1)
df2['pickup_end_date_time'] = df2.apply(lambda row: datetime.strptime(row['pickup_window_end'], '%m/%d/%Y %H:%M'),axis = 1)
df2['pickup_midpoint'] = df2.apply(lambda row: row['pickup_start_date_time'] + (row['pickup_end_date_time'] - row['pickup_start_date_time']) / 2,axis = 1)

Creating Delivery_midpoint time

In [236]:
#Adding the columns delivery midpoints
df2['delivery_start_date_time'] = df2.apply(lambda row: datetime.strptime(row['delivery_window_start'], '%m/%d/%Y %H:%M'),axis = 1)
df2['delivery_end_date_time'] = df2.apply(lambda row: datetime.strptime(row['delivery_window_end'], '%m/%d/%Y %H:%M'),axis = 1)
df2['delivery_midpoint'] = df2.apply(lambda row: row['delivery_start_date_time'] + (row['delivery_end_date_time'] - row['delivery_start_date_time']) / 2,axis = 1)

Assuming that the drivers start working at 6am

In [237]:
mondays = []
import datetime
#Computing the mondays 6am of the weeks that the jobs are in
for ts in df2['pickup_midpoint']:
    # convert to datetime object
    dt = ts.to_pydatetime()

    # get the date and weekday
    date = dt.date()
    weekday = date.weekday()

    # calculate timedelta to previous Monday
    days_to_subtract = (7 + weekday) % 7
    monday = date - datetime.timedelta(days=days_to_subtract)

    # set hour and minute
    monday = datetime.datetime.combine(monday, datetime.time(hour=6, minute=0))

    # convert back to timestamp object
    monday = pd.Timestamp(monday)

    mondays.append(monday)

mondays  # output: [Timestamp('2023-03-06 06:00:00'),

df2['monday_6am'] = mondays

In [238]:
def time_to_arrive(mid_point):
    time_available = max(mid_point.weekday()-1, 0)*12 + mid_point.hour-6 + mid_point.minute/60
    return time_available

Computing whether the driver could arrive to the job if they begin driving at 6am

In [239]:
#computing the time difference between monday 6am and the pickup_midpoint time
df2['driver_home_to_job_midpoint_time_limit'] = df2.apply(lambda row : time_to_arrive(row['pickup_midpoint']),axis = 1)

Importing drivers

In [240]:
#cross merging driver sample and job dataframe
md = pd.read_csv('C:/Users/jiadiz/Desktop/PGT Trucking/initial model/Github/simulated_driver_sample.csv', dtype={'depot_zipcode':str})

In [241]:
md['depot_zipcode'] = zip_correcter(md['depot_zipcode'])
ds = md.sample(num_driver, random_state = random_state_param)
ds['key']=1
df2['key']=1

Creating terminals

In [242]:
#assigning terminals to drivers
terminals = []

for i in range (0,len(ds)):
    terminals.append(str('T'+str(i)))

ds['terminals'] = terminals

In [243]:
df2[df2['order_id'] == 3786037]

Empty DataFrame
Columns: [index, order_id, origin_zipcode, dest_zipcode, pickup_window_start, pickup_window_end, delivery_window_start, delivery_window_end, LineHaulRevenue, DispatchMiles, hour_difference, pickup_start_date_time, pickup_end_date_time, pickup_midpoint, delivery_start_date_time, delivery_end_date_time, delivery_midpoint, monday_6am, driver_home_to_job_midpoint_time_limit, key]
Index: []

Merging drivers and orders to compute all driver-to-order possibilities

In [244]:
big_frame = pd.merge(ds,df2, on = 'key')

In [245]:
zips = pd.read_csv('uszips.csv', dtype={'zip':str})
zips['zip'] = zip_correcter(zips['zip'])
zips['zip'] = zips['zip'].astype(str)

Examine how many driver zip codes are not included in the zip code profile

In [246]:
len(zips['zip'][zips['zip'].isin(big_frame['depot_zipcode'])]) - len(big_frame['depot_zipcode'].unique())

0

In [247]:
big_frame['origin_zipcode'] = big_frame['origin_zipcode'].astype(str)
big_frame['dest_zipcode'] = big_frame['dest_zipcode'].astype(str)

Examine how many order zip codes are not included in the zip code profile

In [248]:
#zips['zip'][zips['zip'].isin(big_frame['origin_zipcode'])]
len(zips['zip'][zips['zip'].isin(big_frame['origin_zipcode'])]) - len(big_frame['origin_zipcode'].unique())

0

In [249]:
len(zips['zip'][zips['zip'].isin(big_frame['dest_zipcode'])]) - len(big_frame['dest_zipcode'].unique())

0

In [250]:
big_frame['dest_zipcode'][~big_frame['dest_zipcode'].isin(zips['zip'])].unique()

array([], dtype=object)

In [251]:
zips.columns = ['zip','depot_lat','depot_lng']
bigger_frame = pd.merge(zips,big_frame, left_on = 'zip', right_on = 'depot_zipcode')
zips.columns = ['zip','origin_lat','origin_lng']
bigger_bigger_frame = pd.merge(zips,bigger_frame, left_on = 'zip', right_on = 'origin_zipcode')
zips.columns = ['zip','dest_lat','dest_lng']
biggest_frame = pd.merge(zips, bigger_bigger_frame, left_on = 'zip', right_on = 'dest_zipcode')

Computing driver to job distance

In [252]:
biggest_frame['driver_to_job_distance'] = biggest_frame.apply(lambda row: haversine_distance(row['depot_lng'],row['depot_lat'],row['origin_lng'],row['origin_lat']),axis = 1)

In [253]:
distance_verification_sample = biggest_frame.sample(300)

Examining the validity of haversine distance. The examination costs time, so let the codes be commented out if not examining.

In [254]:
import seaborn as sns

In [255]:
biggest_frame['haversine_distance'] = biggest_frame.apply(lambda row: haversine_distance(row['origin_lng'],row['origin_lat'],row['dest_lng'],row['dest_lat']),axis=1)

In [256]:
biggest_frame.columns

Index(['zip', 'dest_lat', 'dest_lng', 'zip_x', 'origin_lat', 'origin_lng',
       'zip_y', 'depot_lat', 'depot_lng', 'driver_id', 'depot_zipcode',
       'radius_origins', 'key', 'terminals', 'index', 'order_id',
       'origin_zipcode', 'dest_zipcode', 'pickup_window_start',
       'pickup_window_end', 'delivery_window_start', 'delivery_window_end',
       'LineHaulRevenue', 'DispatchMiles', 'hour_difference',
       'pickup_start_date_time', 'pickup_end_date_time', 'pickup_midpoint',
       'delivery_start_date_time', 'delivery_end_date_time',
       'delivery_midpoint', 'monday_6am',
       'driver_home_to_job_midpoint_time_limit', 'driver_to_job_distance',
       'haversine_distance'],
      dtype='object')

In [257]:
exam = pd.DataFrame((biggest_frame['haversine_distance'].drop_duplicates()-biggest_frame['DispatchMiles'].drop_duplicates())/biggest_frame['DispatchMiles'].drop_duplicates())

In [258]:
exam.dropna().mean()

0    38.306248
dtype: float64

In [259]:
biggest_frame['driver_to_job_distance_plus'] = biggest_frame['driver_to_job_distance'] + biggest_frame['haversine_distance']

In [260]:
biggest_frame['driver_to_job_time'] = biggest_frame['driver_to_job_distance_plus'] .apply(lambda row: my_time(row))

In [261]:
#all the feasible 1st jobs. If a job cannot be done on the first wave of driver's after 6am on Monday, the jobs cannot be done
first_wave = biggest_frame[biggest_frame['driver_to_job_time'] < biggest_frame['driver_home_to_job_midpoint_time_limit']]

In [262]:
first_wave = first_wave[first_wave['driver_to_job_distance']>0]
first_wave = first_wave.reset_index()

In [263]:
driver_to_order = {}
for index, row in first_wave.iterrows():
    key = (str(row['terminals']), str(row['order_id']))
    value = my_time(row['driver_to_job_distance_plus'])
    driver_to_order[key] = value

In [264]:
biggest_frame['job_to_driver_distance'] = biggest_frame.apply(lambda row: haversine_distance(row['origin_lng'], row['origin_lat'], row['depot_lng'], row['depot_lat']),axis = 1)

In [265]:
equal_day = []
for index, row in df2.iterrows():
    if row['delivery_start_date_time'].day != row['delivery_end_date_time'].day:
        equal_day.append('1')
    else:
        equal_day.append('0')

In [266]:
df2['same_day'] = equal_day

In [267]:
for index, row in df2[df2['same_day']=='1'].iterrows():
    print(row['delivery_start_date_time'], row['delivery_start_date_time'] + (row['delivery_end_date_time'] - row['delivery_start_date_time']) /2, row['delivery_end_date_time'])

2023-02-02 20:18:00 2023-02-03 01:15:30 2023-02-03 06:13:00
2023-02-05 22:21:00 2023-02-06 02:09:30 2023-02-06 05:58:00
2023-02-03 23:15:00 2023-02-04 09:26:00 2023-02-04 19:37:00
2023-02-03 21:04:00 2023-02-04 06:22:00 2023-02-04 15:40:00
2023-02-03 23:24:00 2023-02-04 06:09:30 2023-02-04 12:55:00
2023-02-04 23:02:00 2023-02-05 05:41:00 2023-02-05 12:20:00
2023-02-06 20:53:00 2023-02-07 04:49:30 2023-02-07 12:46:00
2023-02-06 18:37:00 2023-02-07 03:18:30 2023-02-07 12:00:00
2023-02-09 19:29:00 2023-02-10 00:44:00 2023-02-10 05:59:00
2023-02-03 21:18:00 2023-02-04 04:15:00 2023-02-04 11:12:00
2023-02-05 23:38:00 2023-02-06 04:24:30 2023-02-06 09:11:00
2023-02-07 07:18:00 2023-02-07 16:31:30 2023-02-08 01:45:00
2023-02-08 23:02:00 2023-02-09 02:59:00 2023-02-09 06:56:00
2023-02-04 18:15:00 2023-02-05 01:32:30 2023-02-05 08:50:00
2023-02-03 23:37:00 2023-02-04 02:43:00 2023-02-04 05:49:00
2023-02-07 15:17:00 2023-02-07 21:45:30 2023-02-08 04:14:00
2023-02-02 23:33:00 2023-02-03 04:18:30 2023-02-03 09:04:00
2023-02-03 17:48:00 2023-02-03 21:11:00 2023-02-04 00:34:00
2023-02-04 16:46:00 2023-02-05 01:00:30 2023-02-05 09:15:00
2023-02-02 21:42:00 2023-02-03 00:43:30 2023-02-03 03:45:00
2023-02-05 22:12:00 2023-02-06 02:32:30 2023-02-06 06:53:00
2023-02-03 00:43:00 2023-02-02 20:23:00 2023-02-02 16:03:00
2023-02-05 21:58:00 2023-02-06 05:47:30 2023-02-06 13:37:00
2023-02-05 17:05:00 2023-02-06 03:09:00 2023-02-06 13:13:00
2023-02-03 17:30:00 2023-02-03 23:05:30 2023-02-04 04:41:00
2023-02-07 10:14:00 2023-02-07 18:04:30 2023-02-08 01:55:00
2023-02-02 14:55:00 2023-02-02 20:24:30 2023-02-03 01:54:00
2023-02-04 00:27:00 2023-02-04 13:24:00 2023-02-05 02:21:00
2023-02-01 22:49:00 2023-02-02 00:50:00 2023-02-02 02:51:00
2023-02-05 19:47:00 2023-02-05 23:56:00 2023-02-06 04:05:00
2023-02-02 21:52:00 2023-02-03 03:25:30 2023-02-03 08:59:00
2023-02-02 22:29:00 2023-02-03 08:10:30 2023-02-03 17:52:00
2023-02-08 07:56:00 2023-02-08 16:00:30 2023-02-09 00:05:00
2023-02-03 14:18:00 2023-02-04 01:24:00 2023-02-04 12:30:00
2023-02-03 20:11:00 2023-02-04 01:24:00 2023-02-04 06:37:00
2023-02-07 18:32:00 2023-02-07 23:16:00 2023-02-08 04:00:00
2023-02-06 18:07:00 2023-02-06 23:24:00 2023-02-07 04:41:00
2023-02-04 12:59:00 2023-02-04 19:18:00 2023-02-05 01:37:00
2023-02-06 10:20:00 2023-02-06 18:44:00 2023-02-07 03:08:00
2023-02-05 15:03:00 2023-02-05 21:21:30 2023-02-06 03:40:00
2023-02-06 08:33:00 2023-02-07 00:39:30 2023-02-07 16:46:00
2023-02-07 15:56:00 2023-02-08 01:59:30 2023-02-08 12:03:00
2023-02-03 22:15:00 2023-02-04 05:13:00 2023-02-04 12:11:00

In [268]:
df2['delivery_midpoint'] = df2['delivery_start_date_time'] + (df2['delivery_end_date_time'] - df2['delivery_start_date_time']) /2

In [269]:
df2['pickup_midpoint'] = df2['pickup_start_date_time'] + (df2['pickup_end_date_time'] - df2['pickup_start_date_time']) /2

In [270]:
zips.columns = ['zip','origin_lat','origin_lng']
df2 = pd.merge(df2, zips, right_on = 'zip', left_on = 'origin_zipcode', how = 'left')
zips.columns = ['zip','dest_lat','dest_lng']
df2 = pd.merge(df2, zips, right_on = 'zip', left_on = 'dest_zipcode', how = 'left')

In [271]:
df2 = df2.drop_duplicates()

In [272]:
df2[df2['order_id'] == 3786037]

Empty DataFrame
Columns: [index, order_id, origin_zipcode, dest_zipcode, pickup_window_start, pickup_window_end, delivery_window_start, delivery_window_end, LineHaulRevenue, DispatchMiles, hour_difference, pickup_start_date_time, pickup_end_date_time, pickup_midpoint, delivery_start_date_time, delivery_end_date_time, delivery_midpoint, monday_6am, driver_home_to_job_midpoint_time_limit, key, same_day, zip_x, origin_lat, origin_lng, zip_y, dest_lat, dest_lng]
Index: []

[0 rows x 27 columns]

In [273]:
df2[df2['order_id'] == 3786037]

Empty DataFrame
Columns: [index, order_id, origin_zipcode, dest_zipcode, pickup_window_start, pickup_window_end, delivery_window_start, delivery_window_end, LineHaulRevenue, DispatchMiles, hour_difference, pickup_start_date_time, pickup_end_date_time, pickup_midpoint, delivery_start_date_time, delivery_end_date_time, delivery_midpoint, monday_6am, driver_home_to_job_midpoint_time_limit, key, same_day, zip_x, origin_lat, origin_lng, zip_y, dest_lat, dest_lng]
Index: []

[0 rows x 27 columns]

In [274]:
df3 = pd.merge(df2, df2, on = 'key')
df3.columns

Index(['index_x', 'order_id_x', 'origin_zipcode_x', 'dest_zipcode_x',
       'pickup_window_start_x', 'pickup_window_end_x',
       'delivery_window_start_x', 'delivery_window_end_x', 'LineHaulRevenue_x',
       'DispatchMiles_x', 'hour_difference_x', 'pickup_start_date_time_x',
       'pickup_end_date_time_x', 'pickup_midpoint_x',
       'delivery_start_date_time_x', 'delivery_end_date_time_x',
       'delivery_midpoint_x', 'monday_6am_x',
       'driver_home_to_job_midpoint_time_limit_x', 'key', 'same_day_x',
       'zip_x_x', 'origin_lat_x', 'origin_lng_x', 'zip_y_x', 'dest_lat_x',
       'dest_lng_x', 'index_y', 'order_id_y', 'origin_zipcode_y',
       'dest_zipcode_y', 'pickup_window_start_y', 'pickup_window_end_y',
       'delivery_window_start_y', 'delivery_window_end_y', 'LineHaulRevenue_y',
       'DispatchMiles_y', 'hour_difference_y', 'pickup_start_date_time_y',
       'pickup_end_date_time_y', 'pickup_midpoint_y',
       'delivery_start_date_time_y', 'delivery_end_date_time_y',
       'delivery_midpoint_y', 'monday_6am_y',
       'driver_home_to_job_midpoint_time_limit_y', 'same_day_y', 'zip_x_y',
       'origin_lat_y', 'origin_lng_y', 'zip_y_y', 'dest_lat_y', 'dest_lng_y'],
      dtype='object')

In [275]:
df3['inter_job_distance'] = df3.apply(lambda row: haversine_distance(row['dest_lng_x'],row['dest_lat_x'],row['origin_lng_y'],row['origin_lat_y']), axis = 1)

In [276]:
df3 = df3[df3['inter_job_distance'] != 0]

In [277]:
# df3['inter_job_distance'].apply(lambda row: my_time(row))
inter_job_time = []
for index, row in df3.iterrows():
    inter_job_time.append(my_time(row['inter_job_distance']))
df3['inter_job_time'] = inter_job_time

In [278]:
df3['inter_job_time_limit'] = (df3['pickup_midpoint_y'] - df3['delivery_midpoint_x']).astype('timedelta64[h]')

In [279]:
df4 = df3[df3['inter_job_time'] < df3['inter_job_time_limit']]

In [280]:
df4[['delivery_midpoint_x','pickup_midpoint_y','inter_job_time_limit']]

     delivery_midpoint_x   pickup_midpoint_y  inter_job_time_limit
100  2023-02-03 01:15:30 2023-02-05 08:26:00                  55.0
102  2023-02-03 01:15:30 2023-02-05 04:30:30                  51.0
104  2023-02-03 01:15:30 2023-02-05 01:04:30                  47.0
112  2023-02-03 01:15:30 2023-02-04 09:01:00                  31.0
114  2023-02-03 01:15:30 2023-02-03 20:06:30                  18.0
...                  ...                 ...                   ...
9793 2023-02-04 05:13:00 2023-02-05 04:59:30                  23.0
9798 2023-02-04 05:13:00 2023-02-05 17:27:30                  36.0
9799 2023-02-04 05:13:00 2023-02-05 11:06:00                  29.0
9970 2023-02-05 19:57:00 2023-02-06 15:39:00                  19.0
9971 2023-02-05 19:57:00 2023-02-07 04:00:00                  32.0

[1163 rows x 3 columns]

 ## Creating arcs

In [281]:
import pickle

Purple arcs

In [284]:
# first_wave = first_wave.reset_index()

In [285]:
purple_out_arcs = {}
for index, row in first_wave.iterrows():
    key = (str(row['terminals']), str(row['order_id']))
    value = my_time(row['driver_to_job_distance_plus'])
    purple_out_arcs[key] = value

In [286]:
purple_out_flow_arcs = {}
for index, row in first_wave.iterrows():
    key = (str(row['driver_id']),str(row['terminals']), str(row['order_id']))
    value = my_time(row['driver_to_job_distance_plus'])
    purple_out_flow_arcs[key] = value

In [287]:
purple_in_arcs = {}

for i in range(0,len(first_wave)):
    purple_in_arcs[(str(str(first_wave['order_id'][i])),first_wave['terminals'][i])] = my_time(first_wave["driver_to_job_distance"][i])

In [288]:
purple_in_flow_arcs = {}

for index, row in first_wave.iterrows():
    key = (str(row['driver_id']), str(row['order_id']), str(row['terminals']))
    value = my_time(row["driver_to_job_distance"])
    purple_in_flow_arcs[key] = value

## Output arc segments

purple arcs

In [289]:
# with open('purple_in_arcs.pkl', 'wb') as f:
#     pickle.dump(purple_in_arcs, f)
# with open('purple_in_flow_arcs.pkl', 'wb') as f:
#     pickle.dump(purple_in_flow_arcs, f)

In [290]:
# with open('purple_out_arcs.pkl', 'wb') as f:
#     pickle.dump(purple_out_arcs, f)
# with open('purple_out_flow_arcs.pkl', 'wb') as f:
#     pickle.dump(purple_out_flow_arcs, f)

green arcs

In [291]:
df4 = df4.reset_index()

In [292]:
df4['second_job_distance'] = df4.apply(lambda row: haversine_distance(row['dest_lng_y'], row['dest_lat_y'], row['origin_lng_y'], row['origin_lat_y']),axis = 1)
df5 = df4[df4['second_job_distance'] > 0]
df5['second_job_time'] = df5['second_job_distance'].apply(lambda row: my_time(row))

In [293]:
df5['green_arc_time'] = df5['second_job_time']+df5['inter_job_time']

In [294]:
df5 = df5.reset_index()
green_arcs = {}

for i in range(0,len(df5)):
    green_arcs[str(df5['order_id_x'][i]),str(df5["order_id_y"][i])] = df5["green_arc_time"][i]

In [295]:
df6 = df5[['order_id_x','order_id_y','green_arc_time']]
df7 = first_wave[['driver_id','order_id']]

In [296]:
df8 = pd.merge(df6,df7,left_on = 'order_id_x', right_on = 'order_id')

In [297]:
df8 = df8.reset_index()
green_flow_arcs = {}

for i in range(0,len(df8 )):
    green_flow_arcs[str(df8['driver_id'][i]), str(df8['order_id_x'][i]),str(df8["order_id_y"][i])] = df8["green_arc_time"][i]

In [298]:
len(green_flow_arcs)

7139

In [299]:
# with open('green_flow_arcs.pkl', 'wb') as f:
#     pickle.dump(green_flow_arcs, f)

In [300]:
# with open('green_arcs.pkl', 'wb') as f:
#     pickle.dump(green_arcs, f)

terminals, drivers, and orders

In [301]:
# with open('terminals.pkl', 'wb') as f:
#     pickle.dump(terminals, f)

In [302]:
# with open('orders.pkl', 'wb') as f:
#     pickle.dump(orders, f)

In [303]:
#with open('driver_id.pkl', 'wb') as f:
#    pickle.dump(list(ds['driver_id']), f)

In [304]:
print(len(green_flow_arcs))
print(len(green_arcs))
print(len(purple_out_flow_arcs))
print(len(purple_out_arcs))
print(len(purple_in_arcs))
print(len(purple_in_flow_arcs))

7139
1163
1143
1143
1143
1143

In [305]:
all_arcs = {}
all_arcs.update(purple_out_arcs)
all_arcs.update(purple_in_arcs)
all_arcs.update(green_arcs)
all_arcs

{('T17', '1372'): 13.666101517847473,
 ('T14', '1372'): 19.134258987477743,
 ('T10', '1372'): 10.65942288373369,
 ('T13', '1372'): 15.130026007889965,
 ('T16', '1372'): 12.521917349927227,
 ('T4', '1372'): 18.870512297412102,
 ('T8', '1372'): 16.253179041520248,
 ('T3', '1372'): 20.574185395353673,
 ('T6', '1372'): 20.05551978828786,
 ('T1', '1372'): 15.410534163941106,
 ('T12', '1372'): 20.027565901303934,
 ('T15', '1372'): 20.86069493000413,
 ('T11', '1372'): 21.425969230439534,
 ('T17', '9420'): 26.876256897311027,
 ('T14', '9420'): 24.427315128317204,
 ('T10', '9420'): 20.28206078770492,
 ('T13', '9420'): 18.81618814294773,
 ('T16', '9420'): 18.418180202941926,
 ('T4', '9420'): 18.515204718575706,
 ('T8', '9420'): 17.38235422496566,
 ('T3', '9420'): 21.45904912981875,
 ('T6', '9420'): 21.035237176908186,
 ('T18', '9420'): 22.366781968081412,
 ('T1', '9420'): 15.96627780724933,
 ('T12', '9420'): 21.637481188843083,
 ('T15', '9420'): 22.02720565609134,
 ('T11', '9420'): 21.711797236504662,
 ('T2', '9420'): 26.686511899657873,
 ('T10', '45'): 16.682316869992544,
 ('T13', '45'): 16.33233616090805,
 ('T17', '7994'): 42.70441648443848,
 ('T0', '7994'): 37.05385660859695,
 ('T14', '7994'): 29.396510096782897,
 ('T10', '7994'): 35.58661683349485,
 ('T13', '7994'): 31.681921897966788,
 ('T16', '7994'): 35.65240969942634,
 ('T4', '7994'): 31.977848490581408,
 ('T8', '7994'): 35.020026215205625,
 ('T3', '7994'): 36.58025151239466,
 ('T6', '7994'): 36.504138474896685,
 ('T18', '7994'): 33.873292305485855,
 ('T19', '7994'): 42.25719178492617,
 ('T1', '7994'): 32.94967471389779,
 ('T12', '7994'): 27.391410470893945,
 ('T15', '7994'): 27.10641627581671,
 ('T11', '7994'): 28.51059801425166,
 ('T2', '7994'): 24.224099690703774,
 ('T9', '7994'): 42.14099448112317,
 ('T5', '7994'): 41.19806539751552,
 ('T7', '7994'): 43.71772190090127,
 ('T0', '3310'): 42.21660581779606,
 ('T17', '1438'): 29.907854765695188,
 ('T0', '1438'): 37.34753019734172,
 ('T14', '1438'): 27.92059810788638,
 ('T10', '1438'): 24.358643224603945,
 ('T13', '1438'): 22.858364601398197,
 ('T16', '1438'): 22.053738214685605,
 ('T4', '1438'): 18.620391266434734,
 ('T8', '1438'): 18.55113330997133,
 ('T3', '1438'): 19.01029826973113,
 ('T6', '1438'): 18.70352548976711,
 ('T18', '1438'): 20.18059114242941,
 ('T19', '1438'): 30.6033140387735,
 ('T1', '1438'): 20.229408528842114,
 ('T12', '1438'): 23.832381115709005,
 ('T15', '1438'): 23.748386694874334,
 ('T11', '1438'): 22.436148890609683,
 ('T2', '1438'): 27.939509632639183,
 ('T9', '1438'): 36.117270588271175,
 ('T5', '1438'): 38.95068940244589,
 ('T7', '1438'): 39.82375325901037,
 ('T14', '1540'): 11.919973168394195,
 ('T10', '1540'): 13.653604976592147,
 ('T13', '1540'): 13.350098246540865,
 ('T16', '1540'): 16.0242807215057,
 ('T1', '1540'): 16.06719582323602,
 ('T12', '1540'): 16.302984348600305,
 ('T17', '8455'): 10.944123399774835,
 ('T0', '8455'): 20.106534360040772,
 ('T14', '8455'): 13.99948973488258,
 ('T10', '8455'): 6.533237548826459,
 ('T13', '8455'): 10.682237374072605,
 ('T16', '8455'): 9.348285572769187,
 ('T4', '8455'): 15.333167962707513,
 ('T8', '8455'): 13.190568904969096,
 ('T3', '8455'): 17.76288690606322,
 ('T6', '8455'): 17.245410288859233,
 ('T18', '8455'): 19.400747429017535,
 ('T19', '8455'): 30.09638180403809,
 ('T1', '8455'): 11.718010712028905,
 ('T12', '8455'): 15.67401225747265,
 ('T15', '8455'): 16.61427727639955,
 ('T11', '8455'): 17.47580003637789,
 ('T2', '8455'): 20.9340292676706,
 ('T9', '8455'): 35.04720425722745,
 ('T5', '8455'): 36.70827811217231,
 ('T7', '8455'): 38.26599240342298,
 ('T17', '765'): 11.411374825510363,
 ('T0', '765'): 26.699856569354118,
 ('T14', '765'): 23.605741245757358,
 ('T10', '765'): 16.906529479259618,
 ('T13', '765'): 20.99873164528741,
 ('T16', '765'): 18.595632146016737,
 ('T4', '765'): 24.804019803681072,
 ('T8', '765'): 22.02197282051651,
 ('T3', '765'): 25.895911570635086,
 ('T6', '765'): 25.38977920962791,
 ('T1', '765'): 21.49155406523018,
 ('T12', '765'): 25.65970070772233,
 ('T15', '765'): 26.535191809796117,
 ('T0', '2274'): 40.20083556443194,
 ('T14', '2274'): 34.661140147616635,
 ('T10', '2274'): 41.13936570740201,
 ('T13', '2274'): 37.28465506488326,
 ('T16', '2274'): 41.08859503598343,
 ('T4', '2274'): 36.80404612496872,
 ('T8', '2274'): 40.090162412805725,
 ('T3', '2274'): 40.85742126573497,
 ('T6', '2274'): 40.88854581651872,
 ('T18', '2274'): 37.56822704164411,
 ('T1', '2274'): 38.316050615799895,
 ('T12', '2274'): 32.93296967767204,
 ('T15', '2274'): 32.419386980068644,
 ('T11', '2274'): 33.13676324271374,
 ('T2', '2274'): 27.877333316322574,
 ('T9', '2274'): 40.97030008332948,
 ('T5', '2274'): 38.303832784590085,
 ('T7', '2274'): 41.382305408505275,
 ('T14', '8965'): 16.436164430633248,
 ('T10', '8965'): 18.66343842299388,
 ('T13', '8965'): 14.34497009376933,
 ('T16', '8965'): 18.758991519395256,
 ('T4', '8965'): 17.095118702071687,
 ('T8', '8965'): 18.93235856394905,
 ('T3', '8965'): 22.112467879104756,
 ('T6', '8965'): 21.8260027901053,
 ('T18', '8965'): 21.06492384295662,
 ('T1', '8965'): 16.185882424025042,
 ('T12', '8965'): 14.038299918455703,
 ('T15', '8965'): 15.052063057117044,
 ('T11', '8965'): 16.51843955470745,
 ('T2', '8965'): 19.427824209977743,
 ('T17', '4292'): 39.06509718222636,
 ('T0', '4292'): 38.29239906862595,
 ('T14', '4292'): 29.22967269445143,
 ('T10', '4292'): 32.09230380308404,
 ('T13', '4292'): 28.284207239952462,
 ('T16', '4292'): 31.11585010064374,
 ('T4', '4292'): 25.5048834971237,
 ('T8', '4292'): 29.119902451647743,
 ('T3', '4292'): 29.183498454877846,
 ('T6', '4292'): 29.25708877995509,
 ('T18', '4292'): 25.704605293423626,
 ('T19', '4292'): 33.77979019328308,
 ('T1', '4292'): 28.06172196059254,
 ('T12', '4292'): 24.16684386404261,
 ('T15', '4292'): 23.144176523214117,
 ('T11', '4292'): 22.024880085181255,
 ('T2', '4292'): 23.371846129385485,
 ('T9', '4292'): 34.78151506042272,
 ('T5', '4292'): 35.39639833384025,
 ('T7', '4292'): 37.26608799398804,
 ('T17', '5004'): 12.039257268048253,
 ('T0', '5004'): 22.50645271785671,
 ('T14', '5004'): 17.768438414298256,
 ('T10', '5004'): 11.096230522669634,
 ('T13', '5004'): 15.075281120105464,
 ('T16', '5004'): 13.510358550358006,
 ('T4', '5004'): 19.517605639737656,
 ('T8', '5004'): 17.23036339320049,
 ('T3', '5004'): 21.588774579074723,
 ('T6', '5004'): 21.075862749968625,
 ('T18', '5004'): 23.41105524031095,
 ('T19', '5004'): 33.798682713097584,
 ('T1', '5004'): 16.029383304697603,
 ('T12', '5004'): 19.840919015180724,
 ('T15', '5004'): 20.770605726245297,
 ('T11', '5004'): 21.64412273002114,
 ('T2', '5004'): 24.90445706133922,
 ('T17', '7997'): 10.760129217143565,
 ('T0', '7997'): 19.312855985563843,
 ('T14', '7997'): 13.658402440073127,
 ('T10', '7997'): 6.954574627353106,
 ('T13', '7997'): 10.812485628083314,
 ('T16', '7997'): 9.803572417541906,
 ('T4', '7997'): 15.64148226783597,
 ('T8', '7997'): 13.610403016554493,
 ('T3', '7997'): 18.177170163155186,
 ('T6', '7997'): 17.662825002187837,
 ('T18', '7997'): 19.742413443776375,
 ('T19', '7997'): 30.459427387876183,
 ('T1', '7997'): 12.047391877611068,
 ('T12', '7997'): 15.71407844091107,
 ('T15', '7997'): 16.680832788403343,
 ('T11', '7997'): 17.63722835288392,
 ('T2', '7997'): 20.89527582847959,
 ('T9', '7997'): 35.30200858901845,
 ('T5', '7997'): 36.85665160887309,
 ('T7', '7997'): 38.46700274218764,
 ('T17', '2939'): 13.52500102007775,
 ('T0', '2939'): 20.30098733937782,
 ('T14', '2939'): 12.487127605864158,
 ('T10', '2939'): 5.301640318557616,
 ('T13', '2939'): 8.176434613285375,
 ('T16', '2939'): 8.038485985947954,
 ('T4', '2939'): 13.130123144901894,
 ('T8', '2939'): 11.525000366087207,
 ('T3', '2939'): 16.21222202216295,
 ('T6', '2939'): 15.714841437740409,
 ('T18', '2939'): 17.39619833422411,
 ('T19', '2939'): 28.37619916860015,
 ('T1', '2939'): 9.47434122314535,
 ('T12', '2939'): 13.36238201731102,
 ('T15', '2939'): 14.296183466091643,
 ('T11', '2939'): 15.142642814648038,
 ('T2', '2939'): 18.790701692460143,
 ('T9', '2939'): 33.01184293420849,
 ('T5', '2939'): 34.593104571997834,
 ('T7', '2939'): 36.18863398367532,
 ('T9', '2005'): 39.79402709127223,
 ('T5', '2005'): 39.75973342633228,
 ('T7', '2005'): 36.175680954017366,
 ('T17', '5764'): 12.95770164436029,
 ('T0', '5764'): 18.959019790373063,
 ('T14', '5764'): 14.866404411593804,
 ('T10', '5764'): 10.411201575456236,
 ('T13', '5764'): 13.424568918160434,
 ('T16', '5764'): 13.20772747735996,
 ('T4', '5764'): 18.52119269670823,
 ('T8', '5764'): 16.832740537783234,
 ('T3', '5764'): 21.316145784830173,
 ('T6', '5764'): 20.818118896083913,
 ('T18', '5764'): 22.64307115002126,
 ('T19', '5764'): 33.3234050219357,
 ('T1', '5764'): 15.07648097163249,
 ('T12', '5764'): 17.88360475026701,
 ('T15', '5764'): 18.892191187248343,
 ('T11', '5764'): 20.079663567294997,
 ('T2', '5764'): 22.715662710732097,
 ('T17', '8808'): 15.5967822143801,
 ('T0', '8808'): 23.435913099860674,
 ('T14', '8808'): 17.186575949370845,
 ('T10', '8808'): 10.374822150290585,
 ('T13', '8808'): 14.016040633688547,
 ('T16', '8808'): 13.175947586094246,
 ('T4', '8808'): 18.68136976307596,
 ('T8', '8808'): 16.79943085366877,
 ('T3', '8808'): 21.280853535017254,
 ('T6', '8808'): 20.78236258829785,
 ('T18', '8808'): 22.71811574169419,
 ('T19', '8808'): 33.32627559810775,
 ('T1', '8808'): 15.187337349376444,
 ('T12', '8808'): 18.828824420386066,
 ('T15', '8808'): 19.757459091339996,
 ('T11', '8808'): 20.647846433876847,
 ('T2', '8808'): 23.964846061050206,
 ('T9', '8808'): 38.063486373646114,
 ('T5', '8808'): 39.62336871064713,
 ('T7', '8808'): 41.205346072577626,
 ('T13', '3877'): 39.52086480595258,
 ('T4', '3877'): 34.66015493833661,
 ('T8', '3877'): 36.8455370697845,
 ('T3', '3877'): 33.61431852871812,
 ('T6', '3877'): 34.05530216775422,
 ('T18', '3877'): 30.828124488842224,
 ('T19', '3877'): 30.019077010080036,
 ('T1', '3877'): 37.796458073881546,
 ('T12', '3877'): 37.29964236744605,
 ('T15', '3877'): 36.46665946486794,
 ('T11', '3877'): 34.50702121148696,
 ('T2', '3877'): 37.31719588065826,
 ('T9', '3877'): 34.132696425942314,
 ('T5', '3877'): 38.34243096363346,
 ('T7', '3877'): 38.30100862931802,
 ('T13', '9701'): 12.256794071957156,
 ('T1', '9701'): 12.056139419597033,
 ('T17', '6624'): 46.20737883231356,
 ('T0', '6624'): 41.51056230657977,
 ('T14', '6624'): 34.255111406479514,
 ('T10', '6624'): 39.19566645847283,
 ('T13', '6624'): 35.29653500950306,
 ('T16', '6624'): 38.60423070937032,
 ('T4', '6624'): 33.43343321246914,
 ('T8', '6624'): 36.92823373169579,
 ('T3', '6624'): 36.88808366769915,
 ('T6', '6624'): 37.004132749720284,
 ('T18', '6624'): 33.2731855397138,
 ('T19', '6624'): 38.56685652041091,
 ('T1', '6624'): 35.64806514897183,
 ('T12', '6624'): 30.791306950819656,
 ('T15', '6624'): 29.96686626528439,
 ('T11', '6624'): 29.85178844101569,
 ('T2', '6624'): 26.13170783218856,
 ('T9', '6624'): 36.27429699689033,
 ('T5', '6624'): 34.62515253456529,
 ('T7', '6624'): 37.33404330904675,
 ('T10', '9245'): 18.09942886303982,
 ('T13', '9245'): 16.02673200278473,
 ('T16', '9245'): 16.28611537364482,
 ('T4', '9245'): 14.664592134899877,
 ('T8', '9245'): 14.599033869668274,
 ('T3', '9245'): 18.22093924445759,
 ('T6', '9245'): 17.833712780408366,
 ('T18', '9245'): 18.736365165063503,
 ('T1', '9245'): 13.327273897940877,
 ('T12', '9245'): 18.176074639901557,
 ('T15', '9245'): 18.477640669197736,
 ('T11', '9245'): 18.000870909478365,
 ('T17', '6131'): 20.246108043281243,
 ('T0', '6131'): 20.439966407020815,
 ('T14', '6131'): 18.243024418869442,
 ('T10', '6131'): 17.24351953226793,
 ('T13', '6131'): 18.843623438538,
 ('T16', '6131'): 19.912545783414846,
 ('T4', '6131'): 24.108709929136904,
 ('T8', '6131'): 23.135208421000712,
 ('T3', '6131'): 27.46202310082612,
 ('T6', '6131'): 27.003132092031304,
 ('T18', '6131'): 28.219997922124364,
 ('T19', '6131'): 38.82530883484333,
 ('T1', '6131'): 21.017695826684648,
 ('T12', '6131'): 22.374421013700353,
 ('T15', '6131'): 23.398771902263324,
 ('T11', '6131'): 24.895752619658353,
 ('T2', '6131'): 26.520382102783987,
 ('T9', '6131'): 42.488940266322466,
 ('T5', '6131'): 43.124954545121255,
 ('T7', '6131'): 45.12089905313269,
 ('T19', '5464'): 41.5442830015932,
 ('T17', '7577'): 16.192234653214427,
 ('T0', '7577'): 30.642814210251036,
 ('T14', '7577'): 26.986790098027026,
 ('T10', '7577'): 20.250685349981467,
 ('T13', '7577'): 24.264352699013877,
 ('T16', '7577'): 21.958113999531182,
 ('T4', '7577'): 28.027466569448077,
 ('T8', '7577'): 25.36073824600374,
 ('T3', '7577'): 29.254707672465194,
 ('T6', '7577'): 28.755143471738755,
 ('T18', '7577'): 31.514929508583798,
 ('T19', '7577'): 41.20436665614663,
 ('T1', '7577'): 24.757886412348626,
 ('T12', '7577'): 28.85962442353685,
 ('T15', '7577'): 29.717250357097917,
 ('T11', '7577'): 30.408175996657622,
 ('T2', '7577'): 33.78339596304781,
 ('T9', '7577'): 46.7506105904137,
 ('T5', '7577'): 48.71372274298469,
 ('T7', '7577'): 50.07029791321031,
 ('T17', '4229'): 18.920465098964453,
 ('T0', '4229'): 14.80485134087008,
 ('T14', '4229'): 10.18448411337205,
 ('T10', '4229'): 13.32256291794877,
 ('T13', '4229'): 12.822986965763146,
 ('T16', '4229'): 15.700853190187908,
 ('T4', '4229'): 18.270680819572473,
 ('T8', '4229'): 18.307357972125597,
 ('T3', '4229'): 22.525982223351154,
 ('T6', '4229'): 22.11362307881769,
 ('T18', '4229'): 22.48080485486271,
 ('T19', '4229'): 33.32387493979941,
 ('T1', '4229'): 15.62691657499613,
 ('T12', '4229'): 15.289312575414487,
 ('T15', '4229'): 16.356505887243237,
 ('T11', '4229'): 18.19108951758058,
 ('T2', '4229'): 19.08274373792356,
 ('T9', '4229'): 36.17458265828293,
 ('T5', '4229'): 36.36282299883841,
 ('T7', '4229'): 38.5731900192492,
 ('T9', '3660'): 32.569584334272925,
 ('T5', '3660'): 27.01872428981062,
 ('T7', '3660'): 29.965449045177795,
 ('T17', '8013'): 18.13170795763683,
 ('T0', '8013'): 21.76110049931604,
 ('T14', '8013'): 11.720240481810519,
 ('T10', '8013'): 10.092756326153898,
 ('T13', '8013'): 5.740996760253745,
 ('T16', '8013'): 9.748373961009563,
 ('T4', '8013'): 9.566920359893295,
 ('T8', '8013'): 10.239412646153589,
 ('T3', '8013'): 14.254531424402328,
 ('T6', '8013'): 13.867687473168019,
 ('T18', '8013'): 14.138486986446267,
 ('T19', '8013'): 25.500100460491826,
 ('T1', '8013'): 7.062154319718576,
 ('T12', '8013'): 9.536205688994999,
 ('T15', '8013'): 10.345035283719014,
 ('T11', '8013'): 11.015164764030532,
 ('T2', '8013'): 15.295441595386713,
 ('T9', '8013'): 29.468814388096543,
 ('T5', '8013'): 30.922353424535245,
 ('T7', '8013'): 32.572472092792246,
 ('T13', '5593'): 38.10479886073602,
 ('T16', '5593'): 37.59451565984855,
 ('T4', '5593'): 33.12542278938841,
 ('T8', '5593'): 34.253279567772246,
 ('T3', '5593'): 30.22202974457344,
 ('T6', '5593'): 30.718754340489934,
 ('T18', '5593'): 29.13969777181814,
 ('T19', '5593'): 25.45172832223209,
 ('T1', '5593'): 35.91989900648479,
 ('T12', '5593'): 36.889923492700504,
 ('T15', '5593'): 36.200728408242,
 ('T11', '5593'): 34.18713183627777,
 ('T2', '5593'): 37.9193919439962,
 ('T9', '5593'): 33.65456807829163,
 ('T5', '5593'): 38.90434024985983,
 ('T7', '5593'): 38.22018233274957,
 ('T14', '3757'): 16.286189267427247,
 ('T17', '39'): 10.104306145447627,
 ('T0', '39'): 27.37436823984301,
 ('T14', '39'): 22.4126206705785,
 ('T10', '39'): 14.415893775154338,
 ('T13', '39'): 18.74968271937111,
 ('T16', '39'): 15.630782874685723,
 ('T4', '39'): 22.02632083058434,
 ('T8', '39'): 18.99109060671094,
 ('T3', '39'): 22.833239672959813,
 ('T6', '39'): 22.320004539868176,
 ('T18', '39'): 25.39088284545041,
 ('T19', '39'): 35.05471603112043,
 ('T1', '39'): 18.75991548357887,
 ('T12', '39'): 23.531567562239147,
 ('T15', '39'): 24.33532630347523,
 ('T11', '39'): 24.80059511283929,
 ('T2', '39'): 28.695880514218196,
 ('T9', '39'): 40.994002476220004,
 ('T5', '39'): 43.28332285567089,
 ('T7', '39'): 44.49864572833888,
 ('T17', '5071'): 13.296408011643843,
 ('T0', '5071'): 23.087909430359137,
 ('T14', '5071'): 18.724670508984733,
 ('T10', '5071'): 12.549353426795722,
 ('T13', '5071'): 16.33913594824908,
 ('T16', '5071'): 14.995027660113344,
 ('T4', '5071'): 20.858983830635676,
 ('T8', '5071'): 18.668763777251232,
 ('T3', '5071'): 23.004632740180337,
 ('T6', '5071'): 22.49691595731978,
 ('T18', '5071'): 24.757836815696358,
 ('T19', '5071'): 35.12508378902662,
 ('T1', '5071'): 17.404758197941707,
 ('T12', '5071'): 21.00760937937934,
 ('T15', '5071'): 21.94669370346796,
 ('T11', '5071'): 22.87513015313842,
 ('T2', '5071'): 25.98457644694897,
 ('T9', '5071'): 40.098125125662385,
 ('T5', '5071'): 41.68787301804369,
 ('T7', '5071'): 43.258141228153534,
 ('T7', '476'): 31.159917798712698,
 ('T17', '9556'): 34.603838303984325,
 ('T0', '9556'): 33.54587102278084,
 ('T14', '9556'): 24.305355776921058,
 ('T10', '9556'): 27.452998127079955,
 ('T13', '9556'): 23.5071454622629,
 ('T16', '9556'): 26.570235503027902,
 ('T4', '9556'): 21.041614901001594,
 ('T8', '9556'): 24.713453519091132,
 ('T3', '9556'): 25.096694543294152,
 ('T6', '9556'): 25.135230840438407,
 ('T18', '9556'): 21.721014252565077,
 ('T19', '9556'): 30.310913209267273,
 ('T1', '9556'): 23.451772664969926,
 ('T12', '9556'): 19.15973339792838,
 ('T15', '9556'): 18.108398723131838,
 ('T11', '9556'): 17.238838887854268,
 ('T2', '9556'): 18.581327732166123,
 ('T9', '9556'): 31.393300493107684,
 ('T5', '9556'): 31.905167378482258,
 ('T7', '9556'): 33.859137639592106,
 ('T14', '9067'): 27.33761603786959,
 ('T13', '9067'): 30.109923123477834,
 ('T4', '9067'): 30.118390609449968,
 ('T18', '9067'): 31.493598622149243,
 ('T1', '9067'): 31.34194553764502,
 ('T12', '9067'): 25.753536248095973,
 ('T15', '9067'): 25.354353079520507,
 ('T11', '9067'): 26.43962962724009,
 ('T2', '9067'): 20.91083870453055,
 ('T17', '3925'): 20.57953111986446,
 ('T14', '3925'): 16.098468384919727,
 ('T10', '3925'): 13.785765561025968,
 ('T13', '3925'): 11.09613979672149,
 ('T16', '3925'): 11.791991733113864,
 ('T4', '3925'): 5.533784954704586,
 ('T8', '3925'): 8.82095730353426,
 ('T3', '3925'): 10.486902321132881,
 ('T6', '3925'): 10.242363495571661,
 ('T18', '3925'): 9.91069187679216,
 ('T19', '3925'): 21.6032392878883,
 ('T1', '3925'): 8.746228502028096,
 ('T12', '3925'): 11.40912027831007,
 ('T15', '3925'): 11.318068725582622,
 ('T11', '3925'): 10.020598331254343,
 ('T2', '3925'): 15.970637721482476,
 ('T17', '8792'): 25.416735814729265,
 ('T0', '8792'): 23.07753692319279,
 ('T14', '8792'): 12.71412372734357,
 ('T10', '8792'): 17.779965230347468,
 ('T13', '8792'): 13.573369347666157,
 ('T16', '8792'): 18.12715318796255,
 ('T4', '8792'): 15.993764497462495,
 ('T8', '8792'): 18.276573344712173,
 ('T3', '8792'): 21.18436593704325,
 ('T6', '8792'): 20.94120487630788,
 ('T18', '8792'): 19.60554136717799,
 ('T19', '8792'): 30.14295511703854,
 ('T1', '8792'): 15.57091971503934,
 ('T12', '8792'): 10.961929275971572,
 ('T15', '8792'): 11.998906053543662,
 ('T11', '8792'): 14.153300843167894,
 ('T2', '8792'): 15.365228501968078,
 ('T9', '8792'): 32.236452086343924,
 ('T5', '8792'): 32.50850255982349,
 ('T7', '8792'): 34.65032147025694,
 ('T17', '2013'): 17.502763380148686,
 ('T0', '2013'): 30.055071169177054,
 ('T14', '2013'): 24.124952013993006,
 ('T10', '2013'): 15.969514552079824,
 ('T13', '2013'): 20.252293489206643,
 ('T16', '2013'): 17.507490779274168,
 ('T4', '2013'): 23.729224521949654,
 ('T8', '2013'): 21.046041870598703,
 ('T3', '2013'): 25.1587251088699,
 ('T6', '2013'): 24.650726575813746,
 ('T18', '2013'): 27.287402078735333,
 ('T19', '2013'): 37.26375406173461,
 ('T1', '2013'): 20.40990782201683,
 ('T12', '2013'): 24.99333727881301,
 ('T15', '2013'): 25.79499750219931,
 ('T11', '2013'): 26.30656105075965,
 ('T2', '2013'): 30.126111030046385,
 ('T9', '2013'): 42.714651771292345,
 ('T5', '2013'): 44.77262533574623,
 ('T7', '2013'): 46.08390999515902,
 ('T0', '3850'): 22.545342403298008,
 ('T14', '3850'): 12.058179735924044,
 ('T10', '3850'): 19.67556460359851,
 ('T13', '3850'): 16.430688025219666,
 ('T16', '3850'): 20.815812589410218,
 ('T4', '3850'): 20.410823184609818,
 ('T8', '3850'): 21.90690988431314,

In [306]:
flow_arcs = {}
flow_arcs.update(purple_out_flow_arcs)
flow_arcs.update(purple_in_flow_arcs)
flow_arcs.update(green_flow_arcs)

In [307]:
df = df.reset_index()
jobs_revenues = {}

for i in range(0,len(df)):
    jobs_revenues[str(df['order_id'][i])] = df["LineHaulRevenue"][i]

In [308]:
drivers = list(ds['driver_id'])
jobs = list(df2['order_id'].astype(str))
nodes = terminals + jobs

In [309]:
model_materials = (terminals, drivers,jobs, nodes, all_arcs, flow_arcs)

In [310]:
#df = df.reset_index()
#jobs_revenues = {}

#for i in range(0,len(df)):
#    jobs_revenues[str(df['order_id'][i])] = df["LineHaulRevenue"][i]
# model_materials = (terminals, drivers,jobs, nodes, all_arcs, flow_arcs)
# def sum_for_all_driver(d,flow_arcs):
#     out = []
#     for ch in flow_arcs:
#         if ch[0] == d:
#             out.append(ch)
#     return out
# def all_driver_value(x,d,flow_arcs):
#     out = []
#     for ch in flow_arcs:
        
#         if ch[0] == d:
            
#             out.append(flow_arcs[ch])
#     return out
# def find_the_next(path_example,k):
#     driver = k[0]
#     dest = k[2]
#     for ch in path_example:
#         if ch[0] == driver and dest == ch[1]:
#             return ch 
#     return 
# def generated_path(path_example):
#     all_path = []
#     path = ''
#     for ch in path_example:
#         driver = ch[0]
#         if ch[1][0]!='T':
#             continue 
    
#         ori = ch[1]
#         dest = ch[2]
#         path = driver +':'+ch[1] +'->' + ch[2] 
#         nex = find_the_next(path_example,ch)
#         path_example.remove(ch)
#         while nex:
#             path = path +'->' + nex[2]
#             temp = nex
#             path_example.remove(nex)
#             nex  = find_the_next(path_example,temp) 
            
#         all_path.append(path)
#         path = ''
        
#     return all_path 
# mod = gp.Model('model0')
# y = mod.addVars(jobs, vtype=GRB.BINARY, name= "y")
# x = mod.addVars(flow_arcs, vtype=GRB.BINARY, name= "x")
# obj_fn = mod.setObjective(gp.quicksum(y[j] for j in jobs), GRB.MAXIMIZE)

# single_driver = mod.addConstrs(x.sum('*', o, d) <= 1 for (o, d) in all_arcs)
# flow_conservation = mod.addConstrs(x.sum(d, '*', j) == x.sum(d, j, '*') for d in drivers for j in nodes if j not in terminals)
# served_jobs = mod.addConstrs(x.sum('*', '*', j)  == y[j] for j in jobs)
#terminal_constraint = mod.addConstrs((x.sum(d, '*', t) <=1  for d in drivers for t in terminals))
# for d in drivers:
#     driver =  sum_for_all_driver(d,flow_arcs)
    
# mod.addConstr(gp.quicksum(flow_arcs[ch]* x[ch] for ch in driver) <= 20)
# mod.optimize()

In [311]:
with open('model_materials.pkl', 'wb') as f:
    pickle.dump(model_materials, f)

In [312]:
def sum_for_all_driver(d,flow_arcs):
    out = []
    for ch in flow_arcs:
        if ch[0] == d:
            out.append(ch)
    return out

In [313]:
def all_driver_value(x,d,flow_arcs):
    out = []
    for ch in flow_arcs:
        
        if ch[0] == d:
            
            out.append(flow_arcs[ch])
    return out

In [314]:
def find_the_next(path_example,k):
    driver = k[0]
    dest = k[2]
    for ch in path_example:
        if ch[0] == driver and dest == ch[1]:
            return ch 
    return

In [315]:
def generated_path(path_example):
    all_path = []
    path = ''
    for ch in path_example:
        driver = ch[0]
        if ch[1][0]!='T':
            continue 
    
        ori = ch[1]
        dest = ch[2]
        path = driver +':'+ch[1] +'->' + ch[2] 
        nex = find_the_next(path_example,ch)
        path_example.remove(ch)
        while nex:
            path = path +'->' + nex[2]
            temp = nex
            path_example.remove(nex)
            nex  = find_the_next(path_example,temp) 
            
        all_path.append(path)
        path = ''
        
    return all_path

In [316]:
mod = gp.Model('model0')

In [317]:
y = mod.addVars(jobs, vtype=GRB.BINARY, name= "y")
x = mod.addVars(flow_arcs, vtype=GRB.BINARY, name= "x")

In [318]:
obj_fn = mod.setObjective(gp.quicksum(jobs_revenues[j]* y[j] for j in jobs), GRB.MAXIMIZE)

In [319]:
# obj_fn = mod.setObjective(gp.quicksum(y[j] for j in jobs), GRB.MAXIMIZE)

In [320]:
u = mod.addVars(nodes, vtype=GRB.INTEGER, name="u")

In [321]:
terminal_constraint = mod.addConstrs((x.sum(d, '*', t) <=1  for d in drivers for t in terminals))

In [322]:
flow_conservation = mod.addConstrs((x.sum(d, '*', j) == x.sum(d, j, '*') for d in drivers for j in nodes if j not in terminals),name="flow_conservation",
)

In [323]:
single_driver = mod.addConstrs(x.sum('*', o, d) <= 1 for (o, d) in all_arcs)

In [324]:
served_jobs = mod.addConstrs(x.sum('*', '*', j)  == y[j] for j in jobs)

In [325]:
mip_gap = 0.05  # 5% optimality gap

# mod.setParam(GRB.Param.MIPGap, mip_gap)
mod.setParam(GRB.Param.TimeLimit, time_limit)

Set parameter TimeLimit to value 1200

In [326]:
for d in drivers:
    driver =  sum_for_all_driver(d,flow_arcs)
    
    mod.addConstr(gp.quicksum(flow_arcs[ch]* x[ch] for ch in driver) <= 80)

In [327]:
mod.optimize()

Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (win64)

CPU model: Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz, instruction set [SSE2|AVX|AVX2]
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 5969 rows, 9645 columns and 44939 nonzeros
Model fingerprint: 0x198e94ee
Variable types: 0 continuous, 9645 integer (9525 binary)
Coefficient statistics:
  Matrix range     [5e-01, 9e+01]
  Objective range  [2e+02, 5e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 8e+01]
Found heuristic solution: objective -0.0000000
Presolve removed 5241 rows and 3483 columns
Presolve time: 0.64s
Presolved: 728 rows, 6162 columns, 23180 nonzeros
Variable types: 0 continuous, 6162 integer (6162 binary)
Found heuristic solution: objective 54922.136867

Root relaxation: objective 1.535999e+05, 2728 iterations, 0.15 seconds (0.09 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 153599.892    0   57 54922.1369 153599.892   180%     -    0s
     0     0 153557.037    0   84 54922.1369 153557.037   180%     -    0s
     0     0 153488.097    0   89 54922.1369 153488.097   179%     -    0s
H    0     0                    134743.37698 153488.097  13.9%     -    0s
H    0     0                    147068.68960 153488.097  4.36%     -    1s
H    0     0                    148289.61398 153488.097  3.51%     -    1s
     0     0 153275.756    0   73 148289.614 153275.756  3.36%     -    1s
H    0     0                    149585.38591 153275.756  2.47%     -    1s
H    0     0                    151746.41604 153275.756  1.01%     -    1s
     0     0 153162.119    0   72 151746.416 153162.119  0.93%     -    1s
     0     0 153074.124    0   59 151746.416 153074.124  0.87%     -    1s
     0     0 153074.124    0   50 151746.416 153074.124  0.87%     -    1s
H    0     0                    151801.84624 153074.124  0.84%     -    1s
     0     0 152301.048    0   51 151801.846 152301.048  0.33%     -    2s
     0     0 152274.599    0   32 151801.846 152274.599  0.31%     -    2s
     0     0 152274.599    0   14 151801.846 152274.599  0.31%     -    2s
*    0     0               0    152205.72618 152205.726  0.00%     -    2s

Explored 1 nodes (10063 simplex iterations) in 2.31 seconds (1.18 work units)
Thread count was 8 (of 8 available processors)

Solution count 9: 152206 151802 151746 ... -0

Optimal solution found (tolerance 1.00e-04)
Best objective 1.522057261815e+05, best bound 1.522057261815e+05, gap 0.0000%

In [328]:
compelete_job = []
for i in flow_arcs:
    if (x[i].x >=0.99):
        compelete_job.append(i)

In [330]:
df[df['order_id'].astype(str).isin(['3779312','3783956','3785314'])]

Empty DataFrame
Columns: [level_0, index, order_id, origin_zipcode, dest_zipcode, pickup_window_start, pickup_window_end, delivery_window_start, delivery_window_end, LineHaulRevenue, DispatchMiles, hour_difference]
Index: []

In [331]:
final_result = generated_path(compelete_job)
while compelete_job != []:
    final_result+= generated_path(compelete_job)
final_result

['Driver41:T17->9420->5071->T17',
 'Driver39:T10->1540->5800->T10',
 'Driver458:T3->8965->9005->8584->T3',
 'Driver12:T18->3877->7226->T18',
 'Driver504:T6->9245->7997->T6',
 'Driver24:T7->476->8792->T7',
 'Driver477:T19->7616->9556->T19',
 'Driver181:T12->9119->6624->T12',
 'Driver311:T2->405->9067->8455->T2',
 'Driver457:T11->3896->2381->T11',
 'Driver294:T13->45->7577->3305->T13',
 'Driver286:T0->5004->6585->T0',
 'Driver453:T14->3757->6329->4229->T14',
 'Driver361:T16->4204->5593->8808->T16',
 'Driver82:T9->111->3398->T9',
 'Driver378:T4->765->8170->T4',
 'Driver550:T8->3925->1987->T8',
 'Driver390:T15->7734->6439->T15',
 'Driver223:T1->9701->2013->T1',
 'Driver247:T5->8431->2274->T5']

In [332]:
selected_jobs_count= 0
for i in jobs:
    #if (x[i].x >= 0.99):
        #print(x[i].x)
        if y[i].x > 0.5:
           selected_jobs_count += 1

In [333]:
print('selected_jobs_count :' +str(selected_jobs_count), 'job_count_in_job_pool :' + str(len(df2)), 'job_selection_rate :' + str(selected_jobs_count/len(df2)))

selected_jobs_count :45 job_count_in_job_pool :100 job_selection_rate :0.45

In [334]:
print('optimized_revenue :' +str(mod.ObjVal), 'revenue_in_pool:' + str(df2['LineHaulRevenue'].sum()), 'optimized_revenue_to_pool_revenue_rate :' + str(mod.ObjVal/df2['LineHaulRevenue'].sum()))

optimized_revenue :152205.7261814886 revenue_in_pool:293883.3404569817 optimized_revenue_to_pool_revenue_rate :0.517912059747287